
  .hero {
    background: #0F144E url(/img/fundos/conceito-de-negocio-com-equipe-de-perto\ 1.png)  !important;
    background-position: center center !important;
    background-size: cover !important;    
    background-repeat: no-repeat !important;    
    color: white !important;
    padding: 100px 0 !important;
    text-align: center;
  }
  
  .hero-title {
    margin-bottom: 20px;
  }
  
  .hero-subtitle {
    font-size: 18px;
    margin-bottom: 40px;
  }
  
  .hero-button {
    background-color: #BD76FF !important;
    border-color: #BD76FF !important;
    color: white !important;
    text-align: center !important;
    transition: background-color 0.3s;
  }
  
  .hero-button:hover {
    background-color: #9e37ff !important;
  }
  
  /* Recursos Section */
  .features {
    padding: 100px 0 !important;
  }
  
  .section-title {
    font-size: 32px;
    font-weight: bold;
    margin-bottom: 40px;
    color: #0F144E !important;
  }
  
  .feature {
    margin-bottom: 30px;
    text-align: center;
  }
  
  .feature i {
    color: #BD76FF !important;
    font-size: 48px;
    margin-bottom: 20px;
  }
  /* Estilo da seção Sobre */
.sobre {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  justify-content: center;
  position: relative;
  padding: 100px;
  background-color: #0F144E;
  color: white;
  height: 513px;
  transition: background-color 0.2s ease;

}
.sobre::after{
  content: "";
    display: block;
    background: url(/img/svgs/enfeite.svg);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    width: 130px;
    height: 130px;
    position: absolute;
    top: -60px;
    right: 400px;
}
.sobre::before{
  content: "";
    display: block;
    background: url(/img/svgs/undraw_join_re_w1lh.svg);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: contain;
    position: absolute;
    width: 570px;
    height: 570px;
    top: 11px;
    left: 10px;
    z-index: 1;

}
.sobre .container {
  display: grid;
  grid-template-columns: 1fr;
  align-items: center;
}

.texto-sobre {
  text-align: center;
  gap: 20px;
}

.texto-sobre h1 {
  font-size: 2.5rem;
  margin-bottom: 10px; /* Espaçamento inferior menor */
}

.texto-sobre p {
  font-size: 1.2rem;
  font-weight: 300; /* Reduzido o peso da fonte para maior legibilidade */
  max-width: 70ch;
  margin-left: 13rem;
}

/* Estilo do botão de alternar */
.explicacao {
  position: inherit;
  width: 200px;
  height: 60px; /* Altura reduzida */
  margin: 20px;
  color: white;
  background-color: transparent; /* Fundo transparente para o botão */
  border: 2px solid transparent; /* Borda transparente */
  outline: none;
  font-weight: 500;
  border-radius: 4px;
  cursor: pointer; /* Cursor de mão ao pairar sobre o botão */
  transition: background-color 0.2s ease, border-color 0.2s ease; /* Efeito de transição suave */
}


.explicacao:focus,
.explicacao:hover {
  outline: none;
  background-color: rgba(68, 68, 244, 0.685); /* Cor de fundo suave quando focado ou pairado */
  border-color: rgba(0, 0, 255, 0.5); 
  box-shadow: 0px 0px 5px rgb(79, 10, 207);
}

/* Estilo dos botões de alternância Trabalhador e Contratante */
#trabalhadorButton {
  background-color: #0515c5;
  border: none;
  padding: 10px 20px; /* Adicionado espaço interno ao botão */
}

#trabalhadorButton:hover {
  background-color: #0a1052;
}

#contratanteButton {
  background-color: #8A2BE2;
  border: 1px solid #7923c9;
  padding: 10px 20px; /* Adicionado espaço interno ao botão */
}

#contratanteButton:hover {
  background-color: #5e16a2;
}


@media (max-width: 992px ){
  .sobre{
    padding: 80px;
    height: 600px;
  }
.sobre::before{
  display: none;
}
  .texto-sobre h1{
    font-size: 2.6rem;
  }
  .texto-sobre p {
    max-width: 60ch;
    margin-left: 0;
    font-size: 1.1rem;
  }
  .explicacao{
    margin: 10px;
    
  }
    
}
@media (max-width: 640px){
  .sobre::after{
    left: 0;
  }
  .sobre{
    height: 600px;
    padding: 20px;


  }
  .botoes-trocas > button{
    gap: 20px;
  }
}
@media (max-width: 1800px){
  .sobre::before{
    display: none;
  }
  .texto-sobre > p{
    margin: auto;
  }

}




